<div style="text-align: center, background-color=#708090ff">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" routerLink="/" routerLinkActive="active">
            <img src="/assets/images/hnLogo.png" alt="HN Logo" width="100" height="100">
        </a>
        <a class="navbar-brand" routerLink="/modifyUser/false/-1" routerLinkActive="active">Create user</a>
        <a class="navbar-brand" routerLink="/userList" routerLinkActive="active">Check users</a>
        <a class="navbar-brand" routerLink="/modifyType/false/-1" routerLinkActive="active">Create user type</a>
        <a class="navbar-brand" routerLink="/typeList" routerLinkActive="active">Check user types</a>
    </nav>
</div>

<br>

<router-outlet></router-outlet>
