@{
    ViewData["Title"] = "Websites";
}

<!--#region Navigation bar-->
<ul id="menuList">
    <li class="menuListItem"><a asp-area=""  asp-controller="Countries" asp-action="Index">Contact</a></li>
    <li class="menuListItem"><a asp-area="" asp-controller="Home" asp-action="News">News</a></li>
    <li class="menuListItem"><a asp-area="" asp-controller="Home" asp-action="AboutUs">About us</a></li>
    <li class="menuListItem"><a asp-area="" asp-controller="Home" asp-action="PhotoGallery">Photo Gallery</a></li>
    <li class="servicesItem">
        <a href="#services" class="activeServicesButton" style="pointer-events: none;">Services</a>
        <div class="servicesDropdown">
            <a class="dropDownItem" asp-area="" asp-controller="Home" asp-action="Logos">Logos</a>
            <a class="activeDropDownItem">Websites</a>
            <a class="dropDownItem" asp-area="" asp-controller="Home" asp-action="Prints">Prints</a>
            <a class="dropDownItem" asp-area="" asp-controller="Home" asp-action="Photography">Photography</a>
        </div>
    </li>
    <li class="menuListItem"><a asp-area="" asp-controller="Home" asp-action="events">Events</a></li>
    <li class="homeMenuItem"><a asp-area="" asp-controller="Home" asp-action="index">Home</a></li>
</ul>
<!--#endregion Navigation bar-->

<!--#region Main Page-->
<h1 id="pageTitle">WEBSITES</h1>

<div id="pageEven">
    <h3 style="flex-basis:75%; padding:0% 1%">We build customized sites. We are in tune with the latest social marketing strategies and each site is optimized for Search Engines (SEO).</h3>
    <img src="~/images/website1.jpg" alt="Company image" height="25%" width="25%"/>
</div>

<div id="pageOdd">
    <img src="~/images/website2.jpg" alt="Company image" height="25%" width="25%"/>
    <h3 style="flex-basis:75%; padding:0% 1%">Want the ability to update your site and check analysis with ease? That’s our specialty!<br> You can check out some of our most recent websites.</h3>
</div>   

<h1 id="pageSecondaryTitle">EXAMPLES FROM SOME WEBSITES WE CREATED</h1>
<div id="pageEven">
    <img class="photo30Tall" style="margin: 0% 0.25% 0% 0%" src="~/images/websiteImage1.png" alt="Company image"/>
    <img class="photo30Tall" src="~/images/websiteImage2.jpg" alt="Company image"/>
    <img class="photo30Tall" style="margin: 0% 0% 0% 0.25%" src="~/images/websiteImage3.jpg" alt="Company image"/>
</div>
<!--#endregion Main Page-->